<h1>Search Results</h1>

<% if @results.any? %>
	<% @results.each do |recipe| %>
		<h1><%= link_to recipe.name, recipe_path(recipe) %></h1>
		<hr />
	<% end %>
<% else %>
	<h2>No results found :/</h2>
<% end %>